.header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.bookList{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:0px;
    list-style-type: square;
}
.book{
    display: flex;
    justify-content: flex-start;

}
.search-buttons{
    display: flex;
    justify-content:center;
    gap:50px;
}